@import "tailwindcss";

@layer base {
  @font-face {
    font-family: "RedHatText";
    src: url("/assets/fonts/static/RedHatText-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "RedHatText";
    src: url("/assets/fonts/static/RedHatText-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "RedHatText";
    src: url("/assets/fonts/static/RedHatText-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}

@theme {
  /* Colors */
  --color-red: hsl(14, 86%, 42%);
  --color-green: hsl(159, 69%, 38%);

  --color-rose-50: hsl(20, 50%, 98%);
  --color-rose-100: hsl(13, 31%, 94%);
  --color-rose-300: hsl(14, 25%, 72%);
  --color-rose-400: hsl(7, 20%, 60%);
  --color-rose-500: hsl(12, 20%, 44%);
  --color-rose-900: hsl(14, 65%, 9%);

  /* Font Family */
  --font-redhat: "RedHatText", sans-serif;

  /* Font Sizes */
  --text-product: 16px;

  /* Screens */
  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 3px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: oklch(0.97 0 0);
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: oklch(0.556 0 0);
  border-radius: 10px;
  transition: background 0.3s ease;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: oklch(0.4 0 0);
}
